<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
    <title>Leaderboard</title>
</head>
<body>
    <h1>High scores for the Great Number Game</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Guesses</th>
            </tr>
        </thead>
        <tbody>
            {% for score in scores %}
            <tr>
                <td>{{ score['name'] }}</td>
                <td>{{ score['guesses'] }}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <a href="/reset"><button>Play Again!</button></a>
</body>
</html>